body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.container-fluid {
    padding: 7% 15%;
}

h1,
h2 {
    line-height: 1.5;
    font-weight: 900;
}

p {
    color: #8f8f8f;
}
/*Sectrions*/

.white-section {
    background-color: white;
}

.colored-section {
    background-color: #ff4c68;
    color: white;
}
.colored-section#testimonials,
.colored-section#press {
    background-color: #ef8172;
}

/*Headings*/

.big-heading {
    font-size: 3.5rem;
    font-weight: 900;
}
.section-heading {
    font-size: 2.5rem;
    font-weight: 700;
}

/*Navigation Bar*/

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
}

.nav-item {
    padding: 0 15px;
}

.nav-link {
    font-size: 1.2 rem;
}

/*Download buttons*/

.download-button {
    margin: 5% 3% 5% 0;
}

/*Title*/

#title {
    padding-bottom: 6%;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

.title-image {
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
    right: 25%;
}
.image-fix {
    position: relative;
}

/* Feature logos*/

#features {
    position: relative;
}

.feature-icon {
    margin: 5%;
    color: #ef8172;
}

.feature-icon:hover {
    color: #ff4c68;
}

.feature-header {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.feature-text {
    color: #8f8f8f;
}

/* Testimonials*/

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 2%;
}

/*Press*/

.press-logo {
    width: 10%;
    margin: 2% 5% 5%;
}

/*Pricing Section*/

.pricing-column {
    padding: 3% 5%;
}

/*Call to action*/

.cta-text {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 900;
    line-height: 1.5;
    font-size: 2.5rem;
    margin-bottom: 2%;
}

/*Footer*/

.footer-icon {
    margin: 1%;
}

@media (max-width: 991px) {
    .title-image {
        transform: rotate(0);
        position: static;
    }
    #features {
        position: static;
    }
}
